@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
   
    /*--width-container-1: 60%;
    --width-container-2: 40%;
    --height-logo-sector: 20%;
    --height-main: 100%;
    --height-text-section: 80%;*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----Header Section----*/
.navbar{
    width: 100%;
    height: 15%;
    display: flex;
    position: absolute;
    z-index: 1010;
}

.logo-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#logo-loop{
    margin-left: 25%;
    width: 30%;
}

.menu-header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: space-around;
}


.menu-items{
    width:  50%;
    height: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
}

.menu-options-container{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{

    color: white;
    font-size: 1.3em;
    display: inline;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-family: 'Alata', sans-serif;
}

li{
    list-style:none;
}

.boton:hover{
    text-decoration: underline; /* Subrayar el texto al pasar el cursor sobre él */
    text-underline-offset: 10px; /* Ajustar la distancia entre la palabra y la línea subrayada */
    text-decoration-thickness: 2px; /* Ajustar el grosor de la línea subrayada */
}

#button-sidebar{
 display: none;
}

.sidebar {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 3000;
    visibility: hidden;
    /* transition: transform 0.5s ease; */
}

.show {
    visibility: visible;
    background-color: black;
    background-image: none;
}

.no-scroll{
    overflow: hidden;
}

/*---- Banner section----*/
#banner-section {

    width: 100%;
    min-height: 90vh;
    background-image: url("../loopstudios-landing-page-main/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#banner-section::after {
    position: absolute;
    content: "";
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.45);
}

.banner-container{
    width: 100%;
    height: 90vh;
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: flex-end;
    z-index: 1001;
}

.text-header{
    width: 100%;
    height: 90%;
    color: white;
    display: flex;
    align-items: center;
    align-content: flex-start;
    font-family: 'Josefin Sans', sans-serif;  
}

.text-border{
    margin-top: 3%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    width:  45%;
    height: 50%;
    z-index: 1005;
}

.banner-text{

    width: 80%;
    font-weight: 200;
    line-height: 1em;
    font-size: 6.5em;
    text-align: left;
    z-index: 1005;
}


/*---- About us section----*/

#about-us-section{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8%;
    border: 2px solid transparent;
}

.image-sector{
  width: 64%;
  height: 68vh;
  display: flex;
  justify-content: center;
}

.image-container{

    width: 100%;
    height: 75vh;
    background-image: url("../loopstudios-landing-page-main/images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    border: 2px solid transparent;
}

.text-sector{

    width: 45%;
    height: 60vh;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-top: 20%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    border: 2px solid transparent;
    padding: 8% 5%;
    gap:10%;
}


.title-about-us{

    margin-top: 10%;
    font-size: 4em;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    width: 90%;
}

p{  

    display: flex;
    align-items: left;
    text-align: left;
    width: 90%;
    height: 100%;
    font-size: 1.3rem;
    line-height: 30px;
    color:hsl(0, 0%, 55%);
}

/*---Creations section----*/
#creations-section{

    margin-top: 5%;
    width: 100%;
    height: 175vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-creation-sector{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.title-creations-container{

    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 100%;
    color: black;
    font-size: 4em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.button-container{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.button-see-all{
    margin-top: 30px;
    margin-right: 20%;
    text-align: center;
    width: 20%;
    height: 40%;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
    word-spacing: 5px;
    cursor: pointer;
}

.button-see-all:hover{
    background-color: black;
    color: white;
}

.images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto; /* Cambiar a auto para ajustar automáticamente la altura al contenido */
    box-sizing: border-box;
    margin-top: 5%;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:center; 
    width: 80%;
    max-height: 100%; 
    box-sizing: border-box;
    gap: 30px;
}

.grid-item {
    display: flex;
    margin-top: 5px;
    flex-basis: calc(25% - 25px); /* 25% para 4 columnas con espacio */
    max-width: 100%;
    position: relative;
    align-items: flex-end;
    align-content: center;
    cursor: pointer;
    color: white;
}

.image{
    width: 100%;
    height: 100%;
    transition: all 0.3ease;
}

.image-text{
    margin-bottom: 10%;
    margin-left: 20%;
    position: absolute;
    height: auto;
    width: 65%;
    display: flex;
    font-size: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    z-index: 1201;
}

.grid-item::after {
    position: absolute;
    content: "";
    color:white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.250);
}

.grid-item:hover {
    transition: all 0.3s ease;
    transform: scale(0.995);
    color: black;
}

.image {
    transition: filter 0.3s ease;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Color blanco con transparencia */
    opacity: 0; /* Comenzamos con opacidad cero para que sea invisible inicialmente */
    transition: opacity 0.3s ease; /* Agregamos una transición para suavizar el cambio de opacidad */
}

.grid-item:hover .overlay {
    opacity: 1; /* Al pasar el cursor por encima, establecemos la opacidad en 1 para que la capa sea visible */
}


/*----Footer Section----*/

#footer-section{
    background-color: black;
    width: 100%;
    height: 20vh;
    display: flex;
}

.left-footer-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo-footer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

#logo-loop-footer{
    width: auto;
}

.menu-footer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.right-footer-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.social-sector{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.social{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
}

.icon {
    display: flex;
    color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.social-sector:hover{
    text-decoration: underline;
    text-underline-offset: 10px; 
    text-decoration-thickness: 2px; 
    text-decoration-color: white;
}

.rights-sector{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rights-text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width:768px)
{     
    
    /*----- navbar-----*/

    .navbar{
        padding: 10px;
    }

    .button-hamb-container{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #button-sidebar{
        display: flex;
        background-color: transparent;
        border: none;
    }

    .ham-btn{
        color:white;
        height: 40px;
        width: 40px;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding: 10%;
        gap: 5%;
    }

    .sidebar-hidden {
        transform: translateX(-100%);
    }

    #sidebar-btn{
        color: white;
        font-family: 'Alata', sans-serif;
        font-size: 1.3em;
        font-weight: 200;
        display: inline;
        justify-content: center;
        text-decoration: none;
        padding: 10px;
    }

    body
    {
       display: block;
       width: 100%;
       height: 100%;
    }

    #banner-section{
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url("../loopstudios-landing-page-main/images/mobile/image-hero.jpg");
        background-position: center;
        background-size: cover;
    }

    .banner-container{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .logo-container{
        width: 80%;
    }

    #logo-loop{
        height: 30%;
        width: 50%;
        margin-left: 5%;
    }

    .menu-header{
        width: 20%;
        display: none;
    }

    .text-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .text-border{
        width: 90%;
        height: 40%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: left;
        border: 2px solid white;
    }

    .banner-text{
        font-size: 2.5em;
        margin-top: 10px;
    }

/*---- About us section----*/
    #about-us-section{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        margin-top: 15%;
    }

    .image-sector{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .image-container{
        width: 100%;
        height: 100%;
        background-image: url("../loopstudios-landing-page-main/images/mobile/image-interactive.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 0px;
        padding: 0px;
    }

    .text-sector{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0%;
        width: 100%;
        height: 50%;
        padding: 0% 0%;
    }

    .title-about-us{
        width: 100%;
        font-size: 2em;
        text-align: center;
    }

    p{
        margin-top: 5%;
        font-size: 1em;
        text-align: center;
        align-items: center;
        width: 100%;
    }

/*---Creations section----*/
    #creations-section
    {
        width: 100%;
        height: 215vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 0%;
    }

    .title-creation-sector{
        width: 100%;
        height: 10%;
        margin-top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }

    .title-creations-container{
        font-size: 2em;
        width: 100%;
        align-items: center;
    }

    .button-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 90%;
        height: 10%;
        margin-top: 380vh;
    }

    .button-see-all{
        margin-top: 5%;
        margin-right: 0%;
        width: 50%;
        height: 70%;
        font-size: 1em;
    }

    .images{
        width: 100%;
        height: 100%;
    }

    #images-container{
        width: 100%;
        height: 100%;
        padding: 5%;
        display: inline;
        flex-direction: column;
        justify-content: space-between;
    }

    .grid-item{
        display: flex;
        width: 100%;
        margin-top: 5%;
    }

    .image{
        width: 100%;
        height: 80%;
    }

    .image1{
      content: url("../loopstudios-landing-page-main/images/mobile/image-deep-earth.jpg");
      background-position: center;
      background-size: contain;
    }

    .image2{
        content: url("../loopstudios-landing-page-main/images/mobile/image-night-arcade.jpg");
        background-position: center;
        background-size: contain;
    }

    .image3{
        content: url("../loopstudios-landing-page-main/images/mobile/image-soccer-team.jpg");
        background-position: center;
        background-size: contain;
    }

    .image4{
        content: url("../loopstudios-landing-page-main/images/mobile/image-grid.jpg");
        background-position: center;
        background-size: contain;
    }

    .image5{
        content: url("../loopstudios-landing-page-main/images/mobile/image-from-above.jpg");
        background-position: center;
        background-size: contain;
    }

    .image6{
        content: url("../loopstudios-landing-page-main/images/mobile/image-pocket-borealis.jpg");
        background-position: center;
        background-size: contain;
    }

    .image7{
        content: url("../loopstudios-landing-page-main/images/mobile/image-curiosity.jpg");
        background-position: center;
        background-size: contain;
    }

    .image8{
        content: url("../loopstudios-landing-page-main/images/mobile/image-fisheye.jpg");
        background-position: center;
        background-size: contain;
    }

    .image-text{
        margin-bottom: 5%;
        margin-left: 10%;
        position: absolute;
        height: auto;
        width: 40%;
        display: flex;
        align-items: flex-start;
        font-size: 1.5em;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 200;
        text-align: left;
        z-index: 1201;
    }

/*----Footer Section----*/

    #footer-section{
        background-color: black;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-footer-section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .logo-footer{
      
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #logo-loop-footer{
        margin-top: 0%;
        width: 50%;
        margin-left: 0%;
    }

    .menu-footer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; /* Cambia la dirección de flexión a "column" */
        justify-content: center;
        margin-left: 0px;
    }

    .menu-options-container{

        width:  100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .right-footer-section{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .social-sector{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .social{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
    }

    .rights-sector{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
    }

    .rights-text{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin-top: 5%;
        margin-right: 0px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 1em;
    }
}